*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;

}


/*
fuentes


font-family: "Bebas Neue", sans-serif;

*/

h1{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    display: inline-block;
    margin: 0 auto;
    color: rgb(255, 255, 255);


}

.carrito{
    width: 2rem;
}
.logo{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.conteiner-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 4rem;
    margin-right: 4rem;
}

.maps{
    width: 2rem;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
}
li{
    display: inline-block;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 4rem;
    background-color: black;
    width: 70%;
    padding: 0.5rem
    ;
}
nav{
    display: flex;
    justify-content: center;
}

.redes-sociales ul li a img{
    width: 1.4rem;
}
.redes-sociales ul{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #525252;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem ;
}
.info{
    width: 33%;
    color: white;
    text-align: center;
}
.nav-footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.remeras ul li a{
    display: block;
}

.remeras li img{
    width: 40rem;
    
}

.remeras li{
    background-color: #cacacac7;

}
.remeras ul{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.remeras ul li p{
    font-size: 1.3rem;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.3rem;
}
main{
    padding: 10rem 0;
}
.mapa{
    display: flex;
    justify-content: center;
}
.pantalones1{
    font-size: 20REM;
    text-align: center;
}
.off{

    width: 400px;
}
.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}