* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}

li {
  list-style: none;
}

a {
  color: #ECECEC;
  text-decoration: none;
}

ul {
  padding-left: 0 !important;
}

h1 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  display: inline-block;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}

.maps {
  width: 2rem;
}

main {
  padding: 10rem 0;
}

@media (min-width: 350px) {
  main {
    padding: 3rem 2rem;
    min-height: 76vh;
  }
}
header .conteiner-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}
header .conteiner-logo .logo {
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
header .conteiner-logo .carrito {
  width: 2rem;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 4rem;
  background-color: #1A1A1A;
  width: 70%;
  padding: 0.5rem;
}
header nav .navbar .maps {
  width: 2rem;
}

@media (min-width: 350px) {
  .logo {
    width: 80%;
  }
  .logo h1 {
    font-size: 50px;
  }
  .navbar {
    gap: 1rem;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .navbar {
    gap: 3rem;
  }
}
footer {
  background-color: #808080;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
footer .redes-sociales ul {
  display: flex;
  flex-direction: column;
}
footer .redes-sociales ul li a img {
  width: 1.4rem;
}
footer .info {
  width: 33%;
  color: #ECECEC;
  text-align: center;
}
footer .nav-footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 350px) {
  footer {
    padding: 1rem;
  }
  .info {
    display: none;
  }
}
@media (min-width: 768px) {
  footer {
    padding: 2rem;
  }
  .info {
    display: block;
  }
}
.main-index {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-index .imagenes {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  width: 70%;
}
.main-index .imagenes .off {
  width: 400px;
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  width: 100%;
}
.main-index .imagenes .cuotas {
  width: 100%;
  height: 100%;
}
.main-index .imagenes .bancos {
  width: 100%;
  height: 100%;
}

@media (min-width: 350px) {
  .imagenes {
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
  }
  .off {
    grid-row: auto;
    grid-column: auto;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .imagenes {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .off {
    grid-row: 1/span 2;
    grid-column: 1/span 2;
    width: 100%;
  }
}
.catalogo ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 3rem;
}
.catalogo ul li {
  background-color: rgba(202, 202, 202, 0.7803921569);
}
.catalogo ul li a {
  display: block;
}
.catalogo ul li img {
  width: 100%;
}
.catalogo ul li p {
  font-size: 1.3rem;
  display: inline-block;
  background-color: #1A1A1A;
  color: #ECECEC;
  padding: 0.3rem;
}

.pantalones1 {
  font-size: 20REM;
  text-align: center;
}

@media (min-width: 350px) {
  .catalogo ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1024px) {
  .catalogo ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1920px) {
  .catalogo ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mapa .info-mapa {
  align-self: flex-start;
}
.mapa .info-mapa p {
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
